@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

/* Navigation Bar */

.nav-bar {
    margin-top: 20px;
    min-width: 600px;
    height: 55px;
    border-radius: 5px;
    background-image: linear-gradient(135deg,rgba(34,34,34,.5) 9.74%,rgba(34,34,34,.3) 90.26%);
    backdrop-filter: blur(30px);
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar h1 a {
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    font-family: "Major Mono Display", serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
}

.nav-bar h1 a:hover {
    text-decoration: none;
}

.nav-bar h1 {
    margin-bottom: 0.7rem;
}

.nav-icon {
    color: #fff;
}

.icon-container {
    margin: 0 30px;
}

.nav-button {
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-button:focus {
    outline: none;
}


/* Footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    font-size: small;
}

.footer-container ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.footer-container li {
    margin-bottom: 20px;
}

.footer-container li a {
    color: #808080;
}

.footer-container ul li a:hover {
    color: #000;
    text-decoration: none;
}