@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

html {
    scrollbar-width: thin;
}

.content {
    flex: 1;
    background-color: #F7F7F7;
}

/* Navigation Bar */

.nav-bar {
    width: 600px;
    margin: 20px auto;
    background-image: linear-gradient(135deg, rgba(34,34,34,0.5), rgba(34,34,34,0.3));
    backdrop-filter: blur(30px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: height 0.5s ease;
    height: 55px;
  }

  .top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 30px;
    position: relative;
  }
  
  .top-content h1 {
    flex: 1;
    text-align: center;
  }
  
  .top-content h1 a {
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    font-family: "Major Mono Display", serif;
    font-size: 24px;
    text-decoration: none;
  }

  .logo {
    position: relative;
    bottom: 3px;
  }
  
  .nav-icon {
    color: #fff;
  }
  
  .nav-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .nav-button:focus {
    outline: none;
    box-shadow: none;
    border: none; 
  }
  
  .nav-links-container {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
    width: 100%;
  }
  
  .nav-links-container.show {
    display: flex;
  }
  
  .links-set {
    display: flex;
    flex-direction: column;
  }
  
  .links-set a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-weight: 100;
  }
  
  .links-set a:hover {
    text-decoration: none;
    color: #dcdcdc;
    font-style: italic;
  }
  
  .nav-bar.expanded {
    height: 250px;
  }

/* Hero Image Section */

.hero-container {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    border-radius: 5px;
    height: 95vh; 
    background: url(/static/images/hero-image.webp) no-repeat center center/cover;
    margin: 0.5rem;
    color: #fff;
}

.l-pad {
    padding-left: 200px;
}

.img-title {
    font-size: 5rem;
}

.icon-title {
    font-size: 2rem;
}

.link-title-style {
    color: #fff;
}

.hero-content a {
    text-decoration: none;
    color: #fff;
}

.hero-content a:hover {
    color: #dcdcdc;
    text-decoration: none;
}

.hero-content span {
    position: relative;
    top: -7px;
}

/* Instructions Section */

.instructions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 130px 0.5rem;
}

.station-image img {
    max-width: 560px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.station-image {
    flex-shrink: 0;
}

.instructions-content h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 7px;
}

.instructions-subtitle {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 35px;
}

.instructions-subtitle span {
    color: rgb(216, 177, 46);
}

/* Our Story Section */

.story-container {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    border-radius: 5px;
    height: 95vh; 
    background: url(/static/images/story-image.webp) no-repeat center center/cover;
    margin: 0.5rem 0.5rem 5rem;
    color: #fff;
}

.story-content a:hover {
    text-decoration: none;
    color: #dcdcdc;
}

.story-content span {
    position: relative;
    top: -7px;
}

/* Footer */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    font-size: small;
}

.footer-container ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.footer-container li {
    margin-bottom: 20px;
}

.footer-container li a {
    color: #808080;
}

.footer-container ul li a:hover {
    color: #000;
    text-decoration: none;
}

.footer-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 5rem;
}

.footer-title p {
    font-family: "Major Mono Display", serif;
    text-transform: uppercase;
}

.footer-title p a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    transition: transform 1s ease;
}

.footer-title p a:hover {
    transform: scale(1.01);
}

.divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px auto;
    padding: 0;
    max-width: 1200px;
    min-width: 300px;
}

/* Sign In and Sign Up */

.form-space {
    margin-top: 150px;
}

.btn-primary {
    background-color: white !important;
    color: black !important;
    border: 1px solid white !important;
  }

.btn-primary:hover {
    background-color: black !important;
    color: white !important;
    border: 1px solid white !important;
}