<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Find nearby bikes to rent and check real-time availability. Easily browse available options in your area for a seamless and convenient biking experience.">
        <meta name="keywords" content="bike rental, rent a bike, bike rental near me, bike availability, real-time bike availability">
        <meta name="author" content="Valentino Braga, Sirui Wei and Charan Singu.">
    
        <!-- CSS -->
        {% block corecss %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% endblock %}

        <!-- Google Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>


        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.png') }}">
    
        <title>{% block extra_title %}{% endblock %}Dublin Bikes</title>
    </head>
    <body>
        <div class="content">
            <header>
                <nav class="nav-bar">
                    <div class="icon-container">
                        <button aria-label="Open navigation menu." class="nav-button"><i class="fa-solid fa-grip-lines fa-lg nav-icon"></i></button>
                    </div>
                    <h1><a href="{{ url_for('home') }}">Dublin Bikes</a></h1>
                    <div class="icon-container">
                        <a href="#" aria-label="View map page."><i class="fa-solid fa-location-dot fa-lg nav-icon"></i></a>
                    </div>
                </nav>
            </header>
            <main>
                <section class="back-color">
                    <div class="hero-container">
                        <div class="l-pad hero-content">
                            <h2 class="img-title">Safe</h2>
                            <h2 class="img-title">Smart</h2>
                            <h2 class="img-title">Affordable</h2>
                            <p>Use Dublin Bikes for your daily commute and to explore the city.</p>
                            <a href="#" class="link-title-style">
                                <div>
                                    <i class="fa-solid fa-square-arrow-up-right icon-title"></i>
                                    <span>Explore</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <section>
                    <div>
                        <!-- Add Map Here -->
                    </div>
                </section>
                <section>
                    <div class="instructions-container">
                        <div class="station-image">
                            <img src="/static/images/bike-station.webp">
                        </div>
                        <div class="instructions-content">
                            <h2>How to ride a Dublin Bike</h2>
                            <div class="instructions-subtitle">
                                <span class="material-symbols-outlined">
                                    looks_one
                                </span>
                                <h3>Find a ride</h3>
                            </div>
                            <p>Find a bike in one of the stations or locate one using the map in your app.</p>
                            <div class="instructions-subtitle">
                                <span class="material-symbols-outlined">
                                    looks_two
                                </span>
                                <h3>Unlock with the app</h3>
                            </div>
                            <p>Use the Dublin Bikes app to unlock the bike and start your ride!</p>
                            <div class="instructions-subtitle">
                                <span class="material-symbols-outlined">
                                    looks_3
                                </span>
                                <h3>Follow safety rules</h3>
                            </div>
                            <p>Follow the traffic rules. Use bike lanes and wear a helmet to stay safe when riding.</p>
                            <div>
                                <div class="instructions-subtitle">
                                    <span class="material-symbols-outlined">
                                        looks_4
                                    </span>
                                    <h3>Park with care</h3>
                                </div>
                            </div>
                            <p>Park your e-scooter in one of the designated stations across town.</p>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <footer>
            <div class="footer-container">
                <ul class="social-links">
                    <li><a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)">Instagram</a></li>
                    <li><a href="https://youtube.com" target="_blank" rel="noopener" aria-label="Visit our YouTube channel (opens in a new tab)">YouTube</a></li>
                    <li><a href="https://tiktok.com" target="_blank" rel="noopener" aria-label="Visit our TikTok page (opens in a new tab)">TikTok</a></li>
                </ul>
                <ul class="other-links">
                    <li><a href="#">Map</a></li>
                    <li><a href="#">Instructions</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
        </footer>

        {% block customjs %}
        <!-- JS -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <!-- Font Awesome Script  -->
        <script src="https://kit.fontawesome.com/6131d31248.js" crossorigin="anonymous"></script>
        {% endblock %}

    </body>
</html>