<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="#">
        <meta name="keywords" content="#">
        <meta name="author" content="Valentino Braga, Sirui Wei and Charan Singu.">
    
        <!-- CSS -->
        <link rel="stylesheet" href="../static/css/base.css">
    
        <!-- JS -->
    
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="../static/favicon/favicon.png">
    
        <title>DublinBikes</title>
    </head>
    <body>
        <header>
            <nav>
                <!-- Navigation Bar -->
            </nav>
        </header>
        <main>
            <div>
                <!-- Content -->
            </div>
            <div>
                <!-- Map -->
            </div>
        </main>
        <footer>
            <!-- Footer -->
        </footer>
    </body>
</html>